//font
$fontOs: 'Montserrat', sans-serif;
$fontOb: 'Montserrat', sans-serif;

$fontDefault: normal 500 12px 'Montserrat', os, sans-serif;
$fontBold: normal 600 12px 'Montserrat', os, sans-serif;

//colors
$white: #fff;
$black: #000;
$orange: #F77821;
$green: #8AC44B;
$grey: #A9ACB0;

$svgOrange: #F77821;